.aboutContainer > img {
    margin-top: 8%;
    margin-left: 5%;
}

.aboutContainer > div {
    width: 45%;
    margin-top: 2%;
}

/* Large Mobile And Tablets and below */
@media screen and (max-width: 1024px) {
    .aboutContainer > img {
        margin-top: 9%;
        height: 270px;
        width: 390px;
    }
}

/* Small mobile */
@media screen and (max-width: 800px) {
    .aboutContainer > div {
        width: 100%;
    }

    .aboutContainer > img {
        display: none;
    }
}
