form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    justify-content: space-between;
    width: 900px;
}

form > div:not(:first-child):not(:last-child) > div:nth-child(even) > div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

form > div > div {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

form > div:nth-of-type(1) > h1 {
    font-family: 'Markazi Text';
    font-weight: bold;
    font-size: 64px;
    margin: 0;
}

form > div:not(:first-child):not(:last-child) > div:first-child {
    margin-right: 5%;
}

.inputArea {
    display: flex;
    flex-direction: row;
}

.inputArea > label {
    font-family: 'Markazi Text';
    font-weight: bold;
    white-space: nowrap;
    font-size: 40px;
    margin-right: 4%;
}

.firstNameContainer {
    width: 63%;
}

.lastNameContainer {
    width: 58%;
}

.emailContainer {
    width: 58%;
}

.phoneContainer {
    width: 58%;
}

.inputArea > input {
    font-family: 'Markazi Text';
    font-weight: normal;
    font-size: 30px;
    background-color: #D9D9D9;
    min-width: 0;
    flex-grow: 1;
    border: none;
    height: 60px;
    border-radius: 10px;
}

/* this is for dropdown menu */
.inputArea > button {
    font-family: 'Markazi Text';
    font-weight: normal;
    font-size: 30px;
    height: 60px;
}

/* error message are */
form > div > div > div:nth-of-type(2) {
    visibility: visible;
    width: 100%;
    height: 30px;
}

form > div:last-child {
    justify-content: center;
}

.guestsContainer > div > input {
    text-align: center;
}

.validation-message {
    font-family: 'Markazi Text';
    font-weight: normal;
    font-size: 28px;
    color: red;
}

.date-picker-custom-input {
    border: none;
    width: 90%;
    height: 55px;
    text-align: center;
    font-family: 'Markazi Text';
    font-weight: 'normal';
    font-size: 35px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.date-picker-calendar-icon {
    height: 50%;
    width: 15%;
    margin-top: 3%;
}

.time-dropdown-menu-icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.occasion-dropdown-menu-icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

/* Large Mobile And Small Tablets and below */
@media screen and (max-width: 1024px) {
    form {
        width: 100%;
    }

    form > div {
        width: 100%;
    }

    form > div:nth-of-type(1) > h1 {
        font-size: 50px;
    }

    .inputArea > label {
        font-size: 32px;
    }

    .firstNameContainer {
        width: 58%;
    }
    
    .lastNameContainer {
        width: 57%;
    }
}

/* Small mobile */
@media screen and (max-width: 800px) {
    form > div {
        flex-direction: column;
    }

    form > div > * {
        align-self: center;
    }

    .inputArea {
        flex-direction: column;
    }

    .inputArea > label {
        align-self: center;
    }

    .firstNameContainer {
        width: 75%;
    }

    .lastNameContainer {
        width: 75%;
    }
    
    .emailContainer {
        width: 75%;
    }
    
    .phoneContainer {
        width: 75%;
    }

    .timeContainer {
        margin-top: 2%;
    }

    form > div:not(:first-child):not(:last-child) > div > div:last-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1%;
    }

    form > div:not(:first-child):not(:last-child) > div:nth-child(even) > div:last-child {
        justify-content: center;
    }

    form > div:last-child {
        margin-top: 2%;
        margin-bottom: 6%;
    }

    form > div:nth-of-type(1) > h1 {
        font-size: 32px;
    }

    .inputArea > label {
        font-size: 21px;
    }

    .inputArea > input {
        font-size: 21px;
        height: 32px;
    }

    .date-picker-custom-input {
        height: 32px;
        font-size: 23px;
    }

    /* this is for dropdown menu */
    .inputArea > button {
        height: 32px;
        font-size: 21px;
    }

    .validation-message {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 21px;
    }

    .date-picker-calendar-icon {
        height: 45%;
        width: 12%;
        margin-top: 2%;
    }

    .time-dropdown-menu-icon {
        width: 28px;
        height: 28px;
    }

    .occasion-dropdown-menu-icon {
        width: 24px;
        height: 24px;
    }
}