.navBarContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1%;
}

.navBarContainer > img {
    margin-top: 3%;
}

.navBarContainer > .nav-item {
    text-decoration: none;
    font-family: 'Markazi Text';
    font-weight: medium;
    font-size: 28px;
    color: black;
    margin-top: 4%;
}

/* Large Mobile And Small Tablets and below */
@media screen and (max-width: 1024px) {
    .navBarContainer > a {
        font-size: 22px;
        margin-top: 5%;
    }
}

/* Small mobile */
@media screen and (max-width: 800px) {
    .navBarContainer {
        margin-left: 2%;
        margin-right: 5%;
        margin-bottom: 2%;
    }

    .navBarContainer > img {
        height: 40px;
        width: 130px;
    }

    .navBarContainer > .nav-item:not(:last-child) {
        display: none;
    }
}
