.aboutContainer > img {
    margin-top: 8%;
    margin-left: 5%;
}

.aboutContainer > div {
    width: 45%;
    margin-top: 2%;
}

/* Large Mobile And Small Tablets and below */
@media screen and (max-width: 900px) {
    .aboutContainer > aside > img {
        margin-top: 12%;
        margin-left: 3%;
        margin-bottom: 3%;
        height: 260px;
        width: 350px;
    }
}

/* Small mobile */
@media screen and (max-width: 630px) {
    .aboutContainer > div {
        width: 100%;
    }

    .aboutContainer > img {
        display: none;
    }
}
