main {
  flex-direction: column;
}

.outerBaseFlexRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.baseFlexRowContainer {
  width: 62%;
  display: flex;
  flex-wrap: wrap;
}

button {
  width: 250px;
  height: 60px;
  border-radius: 25px;
  border: none;
  background-color: #F4CE14;
  font-family: 'Markazi Text';
  font-weight: bold;
  font-size: 36px;
}
