.noListStyle {
  list-style-type: none;
}

main {
  flex-direction: column;
}

.baseFlexRowContainer {
  margin-left: 19%;
  margin-bottom: 1%;
  width: 62%;
  display: flex;
  flex-wrap: wrap;
}

.baseRowContainer {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
}

button {
  width: 250px;
  height: 60px;
  border-radius: 25px;
  border: none;
  background-color: #F4CE14;
  font-family: 'Markazi Text';
  font-weight: bold;
  font-size: 36px;
}

.onlineDeliveryMenuCardContainer {
  width: 260px;
  height: 515px;
}

.onlineDeliveryMenuCardContainer > img:first-child{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.onlineDeliveryCardContentContainer {
  background-color: #EDEFEE;
}

.onlineDeliveryCardHeading {
  display: flex;
  justify-content: space-around;
}

.onlineDeliveryCardHeading > span {
  font-family: "Karla";
  font-weight: bold;
  font-size: 24px;
}

.onlineDeliveryCardHeading > span:nth-of-type(1) {
  color: black;
}

.onlineDeliveryCardHeading > span:nth-of-type(2) {
  color: #EE9972;
}

.onlineDeliveryCardContentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.onlineDeliveryCardContentContainer > span {
  font-family: "Karla";
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

.onlineDeliveryCardFooter {
  display: flex;
  justify-content: space-around;
}

.onlineDeliveryCardFooter > span {
  font-family: "Karla";
  font-weight: medium;
  font-size: 24px;
}

.onlineDeliveryCardFooter > img {
  margin-top: 8px;
}

.onlineMenuCardsContainer {
  display: flex;
  justify-content: space-between;
}

.onlineWeekSpecialsPromoHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.onlineWeekSpecialsPromoHeaderContainer > h1 {
  font-family: 'Markazi Text';
  font-weight: bold;
  font-size: 48px;
  margin-top: 0%;
}

.testimonialsBaseContainer {
  background-color: #495E57;
}

.testimonialsCardContainer {
  display: flex;
  flex-direction: column;
  height: 240px;
  width: 205px;
  background-color: white;
  border-radius: 25px;
}

.testimonialsCardContentContainer {
  margin-left: 5%;
  margin-top: 5%;
}

.testimonialsCardContentContainer > h2 {
  font-family: 'Markazi Text';
  font-weight: medium;
  font-size: 24px;
  margin-top: 0%;
  margin-bottom: 3%;
}

.testimonialsCardContentContainer > p {
  font-family: 'Karla';
  font-weight: normal;
  font-size: 16px;
}

.testimonialsContainer > li > h1 {
  font-family: 'Markazi Text';
  font-weight: bold;
  font-size: 64px;
  color: #F4CE14;
  text-align: center;
}

.testimonialRating {
  display: flex;
  justify-content: space-between;
}

.testimonialRatingStars {
  margin-top: 15%;
  margin-right: 15%;
}

.testimonialCards {
  display: flex;
  justify-content: space-between;
}
