main {
  flex-direction: column;
}

.outerBaseFlexRowContainer > * {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
}

.outerBaseFlexRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-button {
  width: 250px;
  height: 60px;
  border-radius: 25px;
  border: none;
  background-color: #F4CE14;
  font-family: 'Markazi Text';
  font-weight: bold;
  font-size: 36px;
}

.app-button:hover {
  cursor: pointer;
}

/* Large Tablets and below */
@media screen and (max-width: 1024px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .outerBaseFlexRowContainer > * {
    width: 100%;
  }

  .outerBaseFlexRowContainer > * {
    margin-left: 1%;
    margin-right: 1%;
  }
}

/* Small Mobile */
@media screen and (max-width: 800px) {
  .app-button {
    width: 135px;
    height: 32px;
    font-size: 21px;
  }
}
