footer {
    background-color: #495E57;
}

footer > div {
    justify-content: space-between;
}

footer > div > div {
    display: flex;
    flex-direction: column;
}

footer > div > div > h2 {
    font-family: 'Karla';
    font-weight: medium;
    font-size: 26px;
    color: #F4CE14;
}

footer > div > div > .nav-item {
    text-decoration: none;
    font-family: 'Karla';
    font-weight: normal;
    font-size: 22px;
    color: white;
}

/* Small mobile */
@media screen and (max-width: 630px) {
    footer > div {
        justify-content: space-around;
    }

    footer > div > div:nth-of-type(1) {
        display: none;
    }

    footer > div > img {
        height: 140px;
        width: 90px;
    }

    footer > div > div > h2 {
        font-size: 18px;
    }
    
    footer > div > div > .nav-item {
        font-size: 15px;
    }
}