.littleLemonBio {
    display: flex;
    flex-direction: column;
    font-family: 'Markazi Text';
    width: 50%;
}

.littleLemonBio > h1 {
    font-weight: bold;
    font-size: 64px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.littleLemonBio > h2 {
    font-weight: normal;
    font-size: 40px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.littleLemonBio > p {
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 5%;
}

/* Large Mobile And Small Tablets and below */
@media screen and (max-width: 900px) {
    .littleLemonBio > h1 {
        font-size: 55px;
    }

    .littleLemonBio > h2 {
        font-size: 38px;
    }

    .littleLemonBio > p {
        font-size: 30px;
    }
}

/* Small mobile */
@media screen and (max-width: 630px) {
    .littleLemonBio {
        width: 100%;
    }

    .littleLemonBio > h1 {
        font-size: 44px;
    }

    .littleLemonBio > h2 {
        font-size: 34px;
    }

    .littleLemonBio > p {
        font-size: 28px;
    }
}
